apiVersion: v1
baseDomain: lab.local
metadata:
  name: ocp4
networking:
  machineCIDR: 192.168.0.0/23
  networkType: OVNKubernetes
compute:
- name: worker
  replicas: 3
controlPlane:
  name: master
  replicas: 3
  platform:
    baremetal: {}
platform:
  baremetal:
    apiVIP: 192.168.0.40
    ingressVIP: 192.168.0.49
    provisioningNetwork: "Disabled"
    externalBridge: virbr0
    hosts:
      - name: master-1
        role: master
        bmc:
          address: redfish-virtualmedia+http://192.168.0.1:8000/redfish/v1/Systems/55854b4b-c63b-4b12-bd1a-910e12d74ecc
          username: admin
          password: password
        bootMACAddress: 52:54:00:4e:1b:32
        hardwareProfile: unknown
        rootDeviceHints:
          deviceName: "/dev/vda"
      - name: master-2
        role: master
        bmc:
          address: redfish-virtualmedia+http://192.168.0.1:8000/redfish/v1/Systems/1be8df92-4763-4e6f-a573-00d7ad9af767
          username: admin
          password: password
        bootMACAddress: 52:54:00:fa:ac:a8
        hardwareProfile: unknown
        rootDeviceHints:
          deviceName: "/dev/vda"
      - name: master-3
        role: master
        bmc:
          address: redfish-virtualmedia+http://192.168.0.1:8000/redfish/v1/Systems/874e14fc-2865-4553-a9d5-c3edf68f1b25
          username: admin
          password: password
        bootMACAddress: 52:54:00:5e:38:5d
        hardwareProfile: unknown
        rootDeviceHints:
          deviceName: "/dev/vda"
      - name: worker-1
        role: worker
        bmc:
          address: redfish-virtualmedia+http://192.168.0.1:8000/redfish/v1/Systems/827ddfbf-d884-491e-bf85-eaf2a6595842
          username: admin
          password: password
        bootMACAddress: 52:54:00:76:77:02
        hardwareProfile: unknown
        rootDeviceHints:
          deviceName: "/dev/vda"
      - name: worker-2
        role: worker
        bmc:
          address: redfish-virtualmedia+http://192.168.0.1:8000/redfish/v1/Systems/3d283769-93b1-4e4b-99d6-c73609e43cda
          username: admin
          password: password
        bootMACAddress: 52:54:00:32:2a:d7
        hardwareProfile: unknown
        rootDeviceHints:
          deviceName: "/dev/vda"
      - name: worker-3
        role: worker
        bmc:
          address: redfish-virtualmedia+http://192.168.0.1:8000/redfish/v1/Systems/bd697320-0c04-4576-baed-378fd2548337
          username: admin
          password: password
        bootMACAddress: 52:54:00:aa:98:dd
        hardwareProfile: unknown
        rootDeviceHints:
          deviceName: "/dev/vda"
pullSecret: ''
sshKey: ''
