install_dir: '{{ ansible_env.HOME }}/labs'
cluster_name: cluster_name
base_domain: example.com
machine_ip: 192.0.2.10
machine_cidr: 192.0.2.0/24
kubeconfig: "{{ install_dir }}/{{ cluster_name }}.{{ base_domain }}/auth/kubeconfig"

adguard_host: https://adguardhome.url
adguard_auth: basic_auth_string

libvirt_pool_path: /var/lib/libvirt/images
vm_memory_mib: 16000
vm_cpus: 8

lvm_target: vdb
lvm_size_gb: 100

pull_secret: 'copy from https://console.redhat.com/openshift/install/pull-secret'
ssh_key: 'copy from ssh public key'
