cluster_name: cluster_name
base_domain: example.com
machine_ip: 192.0.2.10
machine_cidr: 192.0.2.0/24

adguard_host: https://adguardhome.url
adguard_auth: basic_auth_string

libvirt_pool_path: /var/lib/libvirt/images
vm_memory_mib: 16000
vm_cpus: 8
vm_disk_gb: 120
host_start_command: "virsh start {{ cluster_name }}.{{ base_domain }}"
agent_image_dest: "{{ libvirt_pool_path }}/agent-{{ cluster_name }}.x86_64.iso"

ocp_installer_url: "https://mirror.openshift.com/pub/openshift-v4/clients/ocp"
ocp_version: stable-4.14
install_dir: '{{ ansible_env.HOME }}/labs'
pull_secret: 'copy from https://console.redhat.com/openshift/install/pull-secret'
ssh_key: 'copy from ssh public key'
